---
layout: default
title: Home
---

{% for post in paginator.posts %}
<div class="posts">
  {% assign category = post.categories | first %}
  {% assign cat_config = site.post_categories[category] %}

  {% if cat_config %}
    {% assign cat_posts = site.posts | where_exp: "p", "p.categories contains category" | reverse %}
    {% assign post_number = 0 %}
    {% for p in cat_posts %}
      {% assign post_number = post_number | plus: 1 %}
      {% if p.url == post.url %}
        {% break %}
      {% endif %}
    {% endfor %}
    {% assign display_title = cat_config.title_prefix | append: " #" | append: post_number | append: ": " | append: post.title %}
  {% else %}
    {% assign display_title = post.title %}
  {% endif %}

  <h1>
    <a href="{{ site.github.url }}{{ post.url }}">{{ display_title }}</a>
  </h1>
  {% if post.image %}
  <div class="thumbnail-container">
    <a href="{{ site.github.url }}{{ post.url }}"><img src="{{ site.github.url }}/assets/img/{{ post.image }}"></a>
  </div>
  {% endif %}
  <p>
    {{ post.content | strip_html | truncate: 350 }} <a href="{{ site.github.url }}{{ post.url }}">Read more</a>
    <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
  </p>
</div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}

  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>
